.rightbar {
    grid-column: 3;
    grid-row: 2 / 3;
    background-color: rgba($color: #e90202, $alpha: 0.5);
    display: flex;
    transition: all .5s ease-in-out;
    text-align: center;
    width: 100%;
    z-index: 1;
}